{% extends 'base.html.twig' %}

{% block content %}
    <h1>Players</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Team</th>
        </tr>
        {% for player in players %}
            <tr>
                <td>{{ player.name }}</td>
                <td>{{ player.surname }}</td>
                <td>{{ player.team.name }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
